<div>
  <h2 id="page-heading" data-cy="AppUserHeading">
    <span>App Users</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="appUsers?.length === 0">
    <span>No appUsers found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="appUsers && appUsers.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
          <th scope="col" jhiSortBy="idAppUser"><span>Id App User</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="firstName"><span>First Name</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="lastName"><span>Last Name</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="cNP"><span>C NP</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="grupa"><span>Grupa</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="an"><span>An</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="disciplina"><span>Disciplina</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="user.id"><span>User</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let appUser of appUsers; trackBy: trackIdAppUser" data-cy="entityTable">
          <td>
            <a [routerLink]="['/app-user', appUser.idAppUser, 'view']">{{ appUser.idAppUser }}</a>
          </td>
          <td>{{ appUser.firstName }}</td>
          <td>{{ appUser.lastName }}</td>
          <td>{{ appUser.cNP }}</td>
          <td>{{ appUser.grupa }}</td>
          <td>{{ appUser.an }}</td>
          <td>{{ appUser.disciplina }}</td>
          <td>
            {{ appUser.user?.id }}
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/app-user', appUser.idAppUser, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/app-user', appUser.idAppUser, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
