<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-review-heading" data-cy="ReviewCreateUpdateHeading">Create or edit a Review</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('idReview')!.value == null">
          <label class="form-control-label" for="field_idReview">Id Review</label>
          <input
            type="number"
            class="form-control"
            name="idReview"
            id="field_idReview"
            data-cy="idReview"
            formControlName="idReview"
            [readonly]="true"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_nota">Nota</label>
          <input type="number" class="form-control" name="nota" id="field_nota" data-cy="nota" formControlName="nota" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_comentariu">Comentariu</label>
          <input
            type="text"
            class="form-control"
            name="comentariu"
            id="field_comentariu"
            data-cy="comentariu"
            formControlName="comentariu"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_appUser">App User</label>
          <select class="form-control" id="field_appUser" data-cy="appUser" name="appUser" formControlName="appUser">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                appUserOption.idAppUser === editForm.get('appUser')!.value?.idAppUser ? editForm.get('appUser')!.value : appUserOption
              "
              *ngFor="let appUserOption of appUsersSharedCollection; trackBy: trackAppUserByIdAppUser"
            >
              {{ appUserOption.idAppUser }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
<br />
