<div>
  <h2 id="page-heading" data-cy="SportHeading">
    <span>Sports</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-sport"
        [routerLink]="['/sport/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Sport </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="sports?.length === 0">
    <span>No sports found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="sports && sports.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
          <th scope="col" jhiSortBy="idSport"><span>Id Sport</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nume"><span>Nume</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="locatie"><span>Locatie</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="appUser.idAppUser"><span>App User</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let sport of sports; trackBy: trackIdSport" data-cy="entityTable">
          <td>
            <a [routerLink]="['/sport', sport.idSport, 'view']">{{ sport.idSport }}</a>
          </td>
          <td>{{ sport.nume }}</td>
          <td>{{ sport.locatie }}</td>
          <td>
            <div *ngIf="sport.appUser">
              <a [routerLink]="['/app-user', sport.appUser?.idAppUser, 'view']">{{ sport.appUser?.idAppUser }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/sport', sport.idSport, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/sport', sport.idSport, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(sport)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
